<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hero Funnels</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="<%= dashboard_dashboard_path %>">Dashboard</a></li>
      <li><a href="<%= new_advance_setting_path %>">Advance Colors</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Training</a></li>
      <li><a href="<%= home_contact_us_path %>">Support</a></li>
    </ul>
  </div>
</nav>