<script type="text/javascript">
$(document).ready(function(){
  $("body").on('click', '.offer_submit', function(e) { 
    e.preventDefault();
    var all_products_array=[];
    var price_levels_array=[];
    $('.selected_products tbody tr').each(function(){
        var pid=$(this).find('.product_data').data('pid');
        all_products_array.push(pid);
    });
    all_products_array = $.unique( all_products_array );
    all_products_array = all_products_array.join(',');
    $('.products_list').val(all_products_array);
    //validation
    var flag=0;
    var offer_name = $('#offer_name').val();
    if(offer_name==''){
      $('#offer_name').addClass('errorr');
      $('#offer_name').focus();
      flag=1;
    }  
    else{
      $('#offer_name').removeClass('errorr');
    }
    var products_list=$('.products_list').val();
      if(products_list==''){
        $('.no_products_error').remove();
        $('.selected_products tbody').append("<tr class='no_products_error'><td></td><td class='error'>*Select products first<td></tr>");
        flag=1;
      }
    if(flag==0){
      console.log('=========',$(this).parents('form'));
      $(this).parents('form').submit();
    }
  });  
  // Product Filter JS
  //select product button click

  $("body").on('change', '.select_product', function() {
    $('.no_products').remove();
    $('.no_products_error').remove();
    var shop_url=$('.shop_url').html();
    if($(this).prop('checked') == true) {
      var single_product = $(this).closest('tr').html();
      var pid=$(this).closest('tr').find('.product_data').data('pid');
      var ptitle=$(this).closest('tr').find('.product_data').data('ptitle');
      var product_html="<tr class='single_product "+pid+"'>"+"<td><input type='checkbox' id='p_"+pid+"' class='remove_product' checked='checked'><label for='p_"+pid+"'><span></span></label></td><td data-pid='"+pid+"' data-ptitle='"+ptitle+"' class='product_data'>"+ptitle+"</td><td><a href='"+shop_url+pid+"' target='_blank'><button type='button' class='btn btn-small btn-inverse'>View in Store</button></a></td></tr>";   
      $('.selected_products tbody').append(product_html);
      check_tickmark();

      $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
    }
    else{
      $('.check_all').prop('checked',false);
      var pid=$(this).closest('tr').find('.product_data').data('pid');
      $('.selected_products .'+pid).remove();  
      var products_count = $('.selected_products tbody tr').length;
      if(products_count == 0){
        $('.selected_products tbody').append('<tr class="no_products"><td colspan="3" class="dataTables_empty">No records available</td></tr>');
      }
      $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
    }
  });
  //remove product
  $("body").on('change', '.remove_product', function() {  
    var pid=$(this).closest('tr').find('.product_data').data('pid');
    $(this).closest('tr').remove();
    $('.non_selected_products .'+pid).find('.select_product').prop('checked',false);
    $('.check_all').prop('checked',false);
    var products_count = $('.selected_products tbody tr').length;
    if(products_count == 0){
      $('.selected_products tbody').append('<tr class="no_products"><td colspan="3" class="dataTables_empty">No records available</td></tr>');
    }
    $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
  });

  function check_tickmark(){
    var before_select_array = new Array();
    var after_select_array = new Array();
    $( ".selected_products .single_product" ).each(function( index ) {
            var pid=$(this).find('.product_data').data("pid");
            after_select_array.push(pid);
    });
    $( ".non_selected_products .single_product" ).each(function( index ) {
            var pid=$(this).find('.product_data').data("pid");
            before_select_array.push(pid);
    });
    $.each( after_select_array, function( key, value ) {
      if(jQuery.inArray(value, before_select_array) !== -1){
             $( ".non_selected_products .single_product" ).each(function( index ) {
                    var pid=$(this).find('.product_data').data("pid");
                    if(pid==value){
                      $(this).find('.select_product').prop('checked',true);
                    } 
              });
      }
    });
    $.each( before_select_array, function( key, value ) {
        if(jQuery.inArray(value, after_select_array) == -1){
               $( ".non_selected_products .single_product" ).each(function( index ) {
                      var pid=$(this).find('.product_data').data("pid");
                      if(pid==value){
                          $(this).find('.select_product').prop('checked',false);
                      }
                      
                });
        }
    });
    // check check_all tickmark when all products selected
    var after_products_count = $('.selected_products tbody tr').length;
    var str = $('#before_selected_products_info').text();
    var before_products_count = str.substring(str.lastIndexOf("of ")+3,str.lastIndexOf(" entries"));
    if(after_products_count == before_products_count){
      $('#check_all').prop('checked',true);
    }
    // 
  };
  // filter ajax
  // function product_filter() {
  //   var filter_array = [];
  //   var store_id = $('.store_id').html();
  //   var filter_val = $('.filter ul').find('.filter_val').val();
  //   var ul_count = $('.filter ul').length;
  //   var empty_count = 0;
  //   $('.filter ul').each(function(){
  //     var filter_val = $(this).find('.filter_val').val();
  //     if(filter_val==''){
  //       empty_count += 1;
  //     }
  //   });

  //   if (ul_count == empty_count) {
  //       swal({
  //           title: '<div class="loader"><img src="/images/loader.gif"></div>',
  //           html: true,
  //           showConfirmButton: false
  //       });
  //       url = "/shop/get_all_products";
  //       $.ajax({
  //               type: "POST",
  //               url: url,
  //               data: {
  //                   store_id: store_id
  //               }
  //           })
  //           .done(function(response) {
  //               table.destroy();
  //               $('#before_selected_products tbody').html(response).append('<input type="text" name="test">');
                
  //               table = $('#before_selected_products').DataTable({

  //                   language: {
  //                       searchPlaceholder: "Search records"
  //                   },
  //                   "columnDefs": [{
  //                       "targets": [0],
  //                       "visible": false,
  //                       "searchable": true
  //                   }],
  //                   "bLengthChange": false,
  //                   "ordering": false,
  //                   responsive: true,
  //                   "oLanguage": {
  //                       "sEmptyTable": "No records available",
  //                       "sLoadingRecords": "Please wait - loading...",
  //                       "oPaginate": {
  //                           "sFirst": "First",
  //                           "sLast": "Last",
  //                           "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
  //                           "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
  //                       }
  //                   },
  //                   "fnDrawCallback": function(oSettings) {
  //                       check_tickmark();
  //                       //$('.check_all').prop('checked', false);
  //                       swal.close();
  //                   }
  //               });
  //               $('.dataTables_filter input').attr('placeholder', 'Search Text');
  //           });
  //   }else{
  //     // $('.filter ul').each(function() {
  //     //     var filter_name = $(this).find('.filter_name').val();
  //     //     var filter_condition = $(this).find('.filter_condition').val();
  //     //     var filter_val = $(this).find('.filter_val').val();
  //     //     filter_array.push([filter_name, filter_condition, filter_val]);
  //     // });
  //     swal({
  //         title: '<div class="loader"><img src="/images/loader.gif"></div>',
  //         html: true,
  //         showConfirmButton: false
  //     });
  //     // var and_or = $("input[name=any_or]:checked").val();
  //     // var filter_data = JSON.stringify(filter_array);
  //     url = "/shop/filter_products";
  //     $.ajax({
  //             type: "POST",
  //             url: url,
  //             data: {
  //                 store_id: store_id,
  //                 and_or: $('#andOrCondition').val(),
  //                 ptitle: $('#productTitle').val(),
  //                 ptype: $('#productType').val(),
  //                 pccollection: $('#customCollection').val(),
  //                 pscollection: $('#smallCollection').val(),
  //                 ptag: $('#productTag').val()
  //             }
  //         })
  //         .done(function(response) {
  //             table.destroy()
  //             $('#before_selected_products tbody').html(response);
  //             table = $('#before_selected_products').DataTable({
  //                 "columnDefs": [{
  //                     "targets": [0],
  //                     "visible": false,
  //                     "searchable": false
  //                 }],
  //                 "bLengthChange": false,
  //                 "ordering": false,
  //                 responsive: true,
  //                 "oLanguage": {
  //                     "sEmptyTable": "No records available",
  //                     "sLoadingRecords": "Please wait - loading...",
  //                     "oPaginate": {
  //                         "sFirst": "First",
  //                         "sLast": "Last",
  //                         "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
  //                         "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
  //                     }
  //                 },
  //                 "fnDrawCallback": function(oSettings) {
  //                     check_tickmark();
  //                    // $('.check_all').prop('checked', false);
  //                     swal.close();
  //                 }
  //             });
  //             $('.dataTables_filter input').attr('placeholder', 'Search Text');
  //         });
  //     }
  // }

  table = $('#before_selected_products').DataTable({
    "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
        ],
    "bLengthChange": false,
    "ordering": false,
    responsive: true,
    "oLanguage": {
        "sEmptyTable": "No records available",
        "sLoadingRecords": "Please wait - loading...",
        "oPaginate": {
          "sFirst": "First",
          "sLast": "Last",
          "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
          "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
        }
    },
    "fnDrawCallback": function( oSettings ) {
    check_tickmark();
    }
  });

  $("body").on('change', '.check_all', function() { 
    $('.no_products_error').remove();
    swal({
           title: '<div class="loader"><img src="/images/loader.gif"></div>',
           html: true,
           showConfirmButton: false
    });

    if($(this).prop('checked') == true) { 
        $('.selected_products tbody tr').remove();
        setTimeout(function(){ 
          after_select_html='';
          var shop_url=$('.shop_url').html();
          table.rows({search: 'applied'}).every( function ( rowIdx, tableLoop, rowLoop ) {
            cells = this.cells(function (cellIdx, data, node) {
              return (cellIdx.row == rowIdx);
            });
            var ct=1;
            var pid='';
            var ptitle='';
            cells.every(function() {
              if(ct==1){
                pid=this.data();
              }
              if(ct==3){
                ptitle=this.data();
              }   
              ct=ct+1;
            });
           after_select_html=after_select_html + "<tr class='single_product "+pid+"'>"+"<td><input type='checkbox' id='p_"+pid+"' class='remove_product' checked='checked'><label for='p_"+pid+"'><span></span></label></td><td data-pid='"+pid+"' data-ptitle='"+ptitle+"' class='product_data'>"+ptitle+"</td><td><a href='"+shop_url+pid+"' target='_blank'><button type='button' class='btn btn-small btn-inverse'>View in Store</button></a></td></tr>";
          });
          $('.no_products').remove();
          $('.selected_products tbody').append(after_select_html);
          check_tickmark(); 
          var seen = {};
          $('.selected_products tbody tr td:nth-child(2)').each(function() {
              var txt = $(this).attr("data-pid");
              if (seen[txt])
                  $(this).remove();
              else
                  seen[txt] = true;
          });
          swal.close();
          $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
        }, 500);   
    }  
    else{
          setTimeout(function(){ 
              before_select_html='';
              var shop_url=$('.shop_url').html();
              table.rows({search: 'applied'}).every( function ( rowIdx, tableLoop, rowLoop ) {
                cells = this.cells(function (cellIdx, data, node) {
                  return (cellIdx.row == rowIdx);
                });
                var ct=1;
                var pid='';
                cells.every(function() {
                  if(ct==1){
                    pid=this.data();
                  }  
                  ct=ct+1;
                });
                $('.non_selected_products .'+pid).find('.select_product').prop('checked',false);
                $('.selected_products .'+pid).remove();
              });
              swal.close();
              $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
              $('.selected_products tbody').append('<tr class="no_products"><td colspan="3" class="dataTables_empty">No records available</td></tr>');
            }, 500); 
    }
  });

  //autocomplete
  function autocomplete(filter_id,filter_class){
    $("body").on('keypress', '#'+filter_id, function(event) {
            var filter_data = $(this).val().toLowerCase();
            var myarray = [];
            var length = filter_data.length
            var res = $('.'+filter_class).text();
            if(res.includes(",")){
                var res = res.split(",");
                count=0;
                $.each( res, function( key, value ) {
                  var var1=value.slice(0,length).toLowerCase();
                  if(filter_data==var1){
                    myarray.push(value);
                    count++;
                  }
                  if(count==12){
                    return false;
                  }
                });
            }
            else{
                var res = [res.trim()];
            }
            $(this).autocomplete({
              source: res
            });
    });
  }

  autocomplete('productTitle','product-titles');
  autocomplete('productType','product-types');
  autocomplete('customCollection','product-custom-collections');
  autocomplete('smallCollection','product-smart-collections');
  autocomplete('productTag','product-tags');

  $("body").on('click', '.filter-submit', function() {
    swal({
        title: '<div class="loader"><img src="/images/loader.gif"></div>',
        html: true,
        showConfirmButton: false
    });
    url = "/shop/filter_products";
    $.ajax({
        type: "POST",
        url: url,
        data: {
            store_id: $('.store-id').html(),
            and_or: $('#andOrCondition').val(),
            ptitle: $('#productTitle').val(),
            ptype: $('#productType').val(),
            pccollection: $('#customCollection').val(),
            pscollection: $('#smallCollection').val(),
            ptag: $('#productTag').val()
        }
    })
    .done(function(response) {
        table.destroy()
        $('#before_selected_products tbody').html(response);
        table = $('#before_selected_products').DataTable({
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "bLengthChange": false,
            "ordering": false,
            responsive: true,
            "oLanguage": {
                "sEmptyTable": "No records available",
                "sLoadingRecords": "Please wait - loading...",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
                }
            },
            "fnDrawCallback": function(oSettings) {
                check_tickmark();
               // $('.check_all').prop('checked', false);
                swal.close();
            }
        });
    });
  });

  $("body").on('click', '.filter-reset', function() {
    $('#productTitle').val('');
    $('#productType').val('');
    $('#customCollection').val('');
    $('#smallCollection').val('');
    $('#productTag').val('');
    // Get all products
    swal({
        title: '<div class="loader"><img src="/images/loader.gif"></div>',
        html: true,
        showConfirmButton: false
    });
    $.ajax({
        type: "POST",
        url: '/shop/get_all_products',
        data: {
            store_id: $('.store-id').html()
        }
    })
    .done(function(response) {
        table.destroy();
        $('#before_selected_products tbody').html(response).append('<input type="text" name="test">');
        
        table = $('#before_selected_products').DataTable({

            language: {
                searchPlaceholder: "Search records"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": true
            }],
            "bLengthChange": false,
            "ordering": false,
            responsive: true,
            "oLanguage": {
                "sEmptyTable": "No records available",
                "sLoadingRecords": "Please wait - loading...",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
                }
            },
            "fnDrawCallback": function(oSettings) {
                check_tickmark();
                swal.close();
            }
        });
        $('.dataTables_filter input').attr('placeholder', 'Search Text');
    });
  });
});
  
</script>