<%= form_tag({controller: "home", action: "contact_us_send_mail"}, method: "post",id: "add_funnel_form",class: "form-horizontal") do %>
  <div class="funnel-page material-form">
    <div class="row annotation-section">
      <div class="col-xs-12 col-sm-4">
        <div class="annoted-heading">Contact Us</div>
      </div>
      <div class="col-xs-12 col-sm-8 funnel-card">
        <div class="card-item">
          <div class="card-title">Email</div>
          <input type="email" name="email" id="email" placeholder="Enter Email" required>
        </div>
        <div class="card-item">
          <div class="card-title">Subject</div>
          <input type="text" name="subject" id="subject" placeholder="Enter Subject" required>
        </div>
        <div class="card-item">
          <div class="card-title">Message</div>
          <textarea rows="5" name="message"></textarea>
        </div>
      </div>
    </div>
    <div class="row text-right">
      
    <%= submit_tag("Submit", :id=>"button", :class=>"btn btn-funnel", :name=>"submit") %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
	$("#add_funnel_form").validate({
		errorClass: "input-error",
	  rules: {
	    "email": {required: true},
	    "subject": {required: true},
	    "message": {required: true},
	  }
	});
</script>