<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        Initial Products
        <div class="pull-right">
        <button class="btn btn-default" id="btnInitialProduct">Select Product</button>
        </div>
      </div>
      <div class="panel-body" id="productData">
      
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var multipleProductOptions = {
  'selectMultiple': true,
};
  $(document).on('click', '#btnInitialProduct', function(event) {
    ShopifyApp.Modal.productPicker(multipleProductOptions, function(success, data) {
      // Callback is triggered any time a button
      // is clicked or the window is closed.

      if(!success) {
        // Success is true when a resource is picked successfully
        return;
      }

      if (data.products.length > 0) {
        var selectedProducts = data.products;
        console.log(selectedProducts)
        $.each(data.products, function(i, item) {
          alert(data.products[i].title);
          // $("")
        });​
        // useSelectedProducts(selectedProducts);
      }

      if (data.errors) {
        console.error(data.errors);
      }
    })
  });
</script>