<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#hfUpsellModal">Open Modal</button>
<div id="hfUpsellModal1" class="modal fade hf-upsell" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= @funnel.name %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="hfUpsellBody">
	      <div class="modal-body">
	      	<div class="row">
	      		<div class="col-xs-6">
	      			<img src="<%#= @up_product.image.src %>" class="hf-pro-img">
	      		</div>
	      		<div class="col-xs-6">
	      			<div class="row">
	      				<div class="col-xs-12">
	      					<h4><%#= @up_product.title %></h4>
	      				</div>
	      			</div>
	      			<div class="row">
	      				<div class="col-xs-12">
	      					<p class="pro-price">$<%#= @up_variant.price %></p>
	      					<input type="hidden" name="" id="hfUpsellVariant" value="<%#= @up_variant.id %>">
	      				</div>
	      			</div>
	      			<div class="row">
	      				<div class="col-xs-12">
		      				<div class="hf-pro-desc">
		      					<%#= @up_product.body_html.html_safe %>
		      				</div>
	      				</div>
	      			</div>
	      		</div>
	      	</div>
	        <div>
	        	
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" id="hfUpsellBuy">Buy Now</button>
	        <button type="button" class="btn btn-default" id="hfUpsellCancel">Cancel</button>
	      </div>
      </div>
      <div id="hfDownsellBody" style="display:none;">
	      <div class="modal-body">
	      	<div class="row">
	      		<div class="col-xs-6">
	      			<img src="<%#= @down_product.image.src %>" class="hf-pro-img">
	      		</div>
	      		<div class="col-xs-6">
	      			<div class="row">
	      				<div class="col-xs-12">
	      					<h4><%#= @down_product.title %></h4>
	      				</div>
	      			</div>
	      			<div class="row">
	      				<div class="col-xs-12">
	      					<p class="pro-price">$<%#= @down_variant.price %></p>
	      					<input type="hidden" name="" id="hfDownsellVariant" value="<%#= @down_variant.id %>">
	      				</div>
	      			</div>
	      			<div class="row">
	      				<div class="col-xs-12">
		      				<div class="hf-pro-desc">
		      					<%#= @down_product.body_html.html_safe %>
		      				</div>
	      				</div>
	      			</div>
	      		</div>
	      	</div>
	        <div>
	        	
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" id="hfDownsellBuy">Buy Now</button>
	        <button type="button" class="btn btn-default" id="hfDownsellCancel">Cancel</button>
	      </div>
      </div>
    </div>

  </div>
</div>
<div class="hfDownsellModal1">
	
</div>
<div id='hfUpsell'></div>
<button type="button" class="btn btn-info btn-lg" id="test">Open down sell</button>
<style type="text/css">
	.hf-upsell .hf-pro-img{
		width: 100%;
	}
	.hf-pro-desc{
	  /*white-space: nowrap;*/
	  overflow: hidden;
	  text-overflow: ellipsis;
	  max-width: 100%;
	  max-height: 180px;
	}
	.hf-upsell .pro-price{
		float: left;
    font-size: 30px;
    color: #4aae4e;
    margin-right: 15px;
	}
</style>
<script type="text/javascript">
	$(document).on('click', '#hfUpsellBuy', function(event) {
		event.preventDefault();
		jQuery.post('/cart/add.js', { quantity: 1, id: $("#hfUpsellVariant").val() });
	});
	
	$(document).on('click', '#hfUpsellCancel', function(event) {
		$("#hfDownsellBody").show();
		$("#hfUpsellBody").hide();
	});

	$(document).on('click', '#hfDownsellBuy', function(event) {
		event.preventDefault();
		jQuery.post('/cart/add.js', { quantity: 1, id: $("#hfDownsellVariant").val() });
	});

	$(document).on('click', '#hfDownsellCancel', function(event) {
		$("#hfUpsellModal").modal('hide');
	});
	var hfIsMobile = window.matchMedia("only screen and (max-width: 760px)");
  var hf_device = 'desktop';
  var hfDownTrack;
  function hfStorageSave(key, jsonData, expirationMin){
		var expirationMS = expirationMin * 60 * 1000;
		var record = {value: JSON.stringify(jsonData), timestamp: new Date().getTime() + expirationMS}
		localStorage.setItem(key, JSON.stringify(record));
		return jsonData;
	}
	function hfStorageRead(key){
		var record = JSON.parse(localStorage.getItem(key));
		if (!record){return false;}
		return (new Date().getTime() < record.timestamp && JSON.parse(record.value));
	}
  if (hfIsMobile.matches) {
    hf_device = 'mobile';
  }
	// $.ajax({
 //    url: '/frontend/get_downsell_detail',
 //    data: {shop_id: "welovedrones.myshopify.com",product_id: "10927523532"},
 //  })
 //  .done(function(data) {
 //    console.log("success funnel",data);
 //    // jQuery("head").append('<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" id="bt-removable-css">');
 //    if(hfStorageRead("hfDownTrack")){
    	
 //  	}
 //    else
 //    {
	// 		// localStorage.setItem("hfDownTrack",JSON.stringify('hfDown': '0','timestamp': (new Date().getTime() + 86400000));
	// 		hfStorageSave("hfDownTrack",{hfDown: '0'},1);
 //    } 
 //    	if (hfStorageRead("hfDownTrack").hfDown == data.track_id){
 //    		console.log("no html")
 //    	}
 //    	else{
 //    		$(".hfDownsellModal1").html(data.data);
 //    		console.log(hf_device)
 //    		if(hf_device == 'mobile'){
 //    			setTimeout(function(){
	// 					// localStorage.setItem("hfDownTrack",data.track_id);
	// 					hfStorageSave("hfDownTrack",{hfDown: data.track_id},1);
	// 					$("#hfDownsellModal").modal('show');
 //    			},data.hf_time_out)
 //    		}
 //    		else{
 //    			$(document.documentElement).on('mouseleave',function(e){
 //            if(e.clientY < 20){
 //            console.log(e.clientY)
 //            if (hfStorageRead("hfDownTrack").hfDown == data.track_id){

 //    				}
 //    				else{
	// 						hfStorageSave("hfDownTrack",{hfDown: data.track_id},1);
	// 						// localStorage.setItem("hfDownTrack",data.track_id);
	// 						$("#hfDownsellModal").modal('show');
 //    				}
 //            }
 //          });
 //    		}
 //    	}
    
 //  })
 //  .fail(function() {
 //    console.log("error");
 //  })
    $(document).on('click', '#test', function(event) {
				$("#hfDownsellModal").modal('show');
				// $("#hfUpsellBody").hide();
			});
    $(document).on('click', '.downsell-cancel', function(event) {
				console.log($(this).data('next'))
				if($('#'+$(this).data('next')).length){
					console.log("yesssssssss")
					$('#'+$(this).data('current')).hide();
					$('#'+$(this).data('next')).show();
				}
				else{
					$("#hfDownsellModal").modal('hide');
				}
				// $("#hfUpsellBody").hide();
		});


	$.ajax({
    url: '/frontend/get_upsell_detail',
    data: {shop_id: "welovedrones.myshopify.com",product_id: "10927523532"},
  })
  .done(function(data) {
    console.log("success funnel",data);
    // jQuery("head").append('<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" id="bt-removable-css">');
    if(hfStorageRead("hfUpTrack")){
    	
  	}
    else
    {
			// localStorage.setItem("hfDownTrack",JSON.stringify('hfDown': '0','timestamp': (new Date().getTime() + 86400000));
			hfStorageSave("hfUpTrack",{hfUp: '0'},1);
    } 
    	if (hfStorageRead("hfUpTrack").hfUp == data.track_id){
    		console.log("no html")
    	}
    	else{
    		$("#hfUpsell").html(data.data);
    		console.log(hf_device)
    		if(hf_device == 'mobile'){
    			setTimeout(function(){
						// localStorage.setItem("hfDownTrack",data.track_id);
						hfStorageSave("hfUpTrack",{hfUp: data.track_id},1);
						$("#hfUpsellModal").modal('show');
    			},data.hf_time_out)
    		}
    		else{
    			$(document.documentElement).on('mouseleave',function(e){
            if(e.clientY < 20){
            console.log(e.clientY)
            if (hfStorageRead("hfUpTrack").hfUp == data.track_id){

    				}
    				else{
							hfStorageSave("hfUpTrack",{hfUp: data.track_id},1);
							// localStorage.setItem("hfDownTrack",data.track_id);
							$("#hfUpsellModal").modal('show');
    				}
            }
          });
    		}
    	}
    
  })
  .fail(function() {
    console.log("error");
  })
  $(document).on('click', '.upsell-cancel', function(event) {
		console.log($(this).data('next'))
		if($('#'+$(this).data('next')).length){
			console.log("yesssssssss")
			$('#'+$(this).data('current')).hide();
			$('#'+$(this).data('next')).show();
		}
		else{
			$("#hfUpsellModal").modal('hide');
		}
		// $("#hfUpsellBody").hide();
	});
  
    
</script>