<h1>Editing Advance Setting</h1>
<%= @advance_setting.inspect %>
<%= render 'form', advance_setting: @advance_setting %>

<%= link_to 'Show', @advance_setting %> |
<%= link_to 'Back', advance_settings_path %>
