<script type="text/javascript">
$(document).ready(function(){
  $("body").on('click', '.funnel-submit', function(e) { 
    e.preventDefault();
    //validation
    var flag=0;
    var trigger_products=$('#trigger-products').val();
    var up_product_ids=$('#up_product_ids').val();
    var down_product_ids=$('#down_product_ids').val();
    if(trigger_products==''){
      $('.funnel-products-error').addClass('error');
      flag=1;
    }else{
      $('.funnel-products-error').removeClass('error');
    }

    if(up_product_ids==''){
      $('.upsell-error').addClass('error');
      flag=1;
    }else{
      $('.upsell-error').removeClass('error');
    }

    if(down_product_ids==''){
      $('.downsell-error').addClass('error');
      flag=1;
    }else{
      $('.downsell-error').removeClass('error');
    }

    if(flag==0){
      $(this).parents('form').submit();
    }
  });  
  // Select Products
  $("body").on('click', '.select-funnel-products', function() {
    var all_products_array=[];
    $('.selected_products tbody tr').each(function(){
        var pid=$(this).find('.product_data').data('pid');
        all_products_array.push(pid);
    });
    $('#trigger-products').val($.unique( all_products_array ).join(','));
  });

  $("body").on('click', '.select-upsell-products', function() {
      var all_upsell_products_array=[];
      $('.selected_upsell_products tbody tr').each(function(){
          var pid=$(this).find('.product_data').data('pid');
          all_upsell_products_array.push(pid);
      });
      $('#up_product_ids').val($.unique( all_upsell_products_array ).join(','));
    });

  $("body").on('click', '.select-downsell-products', function() {
    var all_downsell_products_array=[];
    $('.selected_downsell_products tbody tr').each(function(){
        var pid=$(this).find('.product_data').data('pid');
        all_downsell_products_array.push(pid);
    });
    $('#down_product_ids').val($.unique( all_downsell_products_array ).join(','));
  });
  // Product Filter JS

  // add product
  $("body").on('click', '#before_selected_products .add-product', function() {
    $(this).attr('disabled',true);
    $('.no_products').remove();
    $('.no_products_error').remove();
    var shop_url=$('.shop_url').html();
      var single_product = $(this).closest('tr').html();
      var pid=$(this).closest('tr').find('.product_data').data('pid');
      var ptitle=$(this).closest('tr').find('.product_data').data('ptitle');
      var pimage=$(this).closest('tr').find('.product_data').data('pimage');
      var product_html="<tr class='single_product "+pid+"'>"+"<td><img src="+pimage+" width=30 height=30></td><td data-pid='"+pid+"' data-ptitle="+ptitle+" class='product_data'>"+ptitle+"</td><td><button type='button' class='btn btn-small btn-danger remove-product'>Remove</button></td></tr>";
      $('.selected_products tbody').append(product_html);
      // check_tickmark();

      $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
  });

  $("body").on('click', '#before_selected_upsell_products .add-product', function() {
    var upsell_count = $(".selected_upsell_products tr[class^='single_product']").length;
    if (upsell_count >= 3){
      alert('You can\'t select more than 3 products');
    }else{
      $(this).attr('disabled',true);
      $('.no_products').remove();
      $('.no_products_error').remove();
      var shop_url=$('.shop_url').html();
        var single_product = $(this).closest('tr').html();
        var pid=$(this).closest('tr').find('.product_data').data('pid');
        var ptitle=$(this).closest('tr').find('.product_data').data('ptitle');
        var pimage=$(this).closest('tr').find('.product_data').data('pimage');
        var product_html="<tr class='single_product "+pid+"'>"+"<td><img src="+pimage+" width=30 height=30></td><td data-pid='"+pid+"' data-ptitle="+ptitle+" class='product_data'>"+ptitle+"</td><td><button type='button' class='btn btn-small btn-danger remove-product'>Remove</button></td></tr>";
        $('.selected_upsell_products tbody').append(product_html);
        // check_tickmark();
        $('.selected_upsell_products_count').html('Showing '+$(".selected_upsell_products tr[class^='single_product']").length+' entries');
    }
  });

  $("body").on('click', '#before_selected_downsell_products .add-product', function() {
    var downsell_count = $(".selected_downsell_products tr[class^='single_product']").length;
    if (downsell_count >= 3){
      alert('You can\'t select more than 3 products');
    }else{
      $(this).attr('disabled',true);
      $('.no_products').remove();
      $('.no_products_error').remove();
      var shop_url=$('.shop_url').html();
      var single_product = $(this).closest('tr').html();
      var pid=$(this).closest('tr').find('.product_data').data('pid');
      var ptitle=$(this).closest('tr').find('.product_data').data('ptitle');
      var pimage=$(this).closest('tr').find('.product_data').data('pimage');
      var product_html="<tr class='single_product "+pid+"'>"+"<td><img src="+pimage+" width=30 height=30></td><td data-pid='"+pid+"' data-ptitle="+ptitle+" class='product_data'>"+ptitle+"</td><td><button type='button' class='btn btn-small btn-danger remove-product'>Remove</button></td></tr>";
      $('.selected_downsell_products tbody').append(product_html);
      // check_tickmark();

      $('.selected_downsell_products_count').html('Showing '+$(".selected_downsell_products tr[class^='single_product']").length+' entries');
    }
  });

  //remove product
  $("body").on('click', '.selected_products .remove-product', function() {
    var pid=$(this).closest('tr').find('.product_data').data('pid');
    $(this).closest('tr').remove();
    $('#before_selected_products .'+pid).find('.add-product').attr('disabled',false);
    var products_count = $('.selected_products tbody tr').length;
    if(products_count == 0){
      $('.selected_products tbody').append('<tr class="no_products"><td colspan="3" class="dataTables_empty">No Products Selected</td></tr>');
    }
    $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
  });

  $("body").on('click', '.selected_upsell_products .remove-product', function() {
    var pid=$(this).closest('tr').find('.product_data').data('pid');
    $(this).closest('tr').remove();
    $('#before_selected_upsell_products .'+pid).find('.add-product').attr('disabled',false);
    var products_count = $('.selected_upsell_products tbody tr').length;
    if(products_count == 0){
      $('.selected_upsell_products tbody').append('<tr class="no_products"><td colspan="3" class="dataTables_empty">No Products Selected</td></tr>');
    }
    $('.selected_upsell_products_count').html('Showing '+$(".selected_upsell_products tr[class^='single_product']").length+' entries');
  });

  $("body").on('click', '.selected_downsell_products .remove-product', function() {
    var pid=$(this).closest('tr').find('.product_data').data('pid');
    $(this).closest('tr').remove();
    $('#before_selected_downsell_products .'+pid).find('.add-product').attr('disabled',false);
    var products_count = $('.selected_downsell_products tbody tr').length;
    if(products_count == 0){
      $('.selected_downsell_products tbody').append('<tr class="no_products"><td colspan="3" class="dataTables_empty">No Products Selected</td></tr>');
    }
    $('.selected_downsell_products_count').html('Showing '+$(".selected_downsell_products tr[class^='single_product']").length+' entries');
  });


  function check_tickmark(){
    var before_select_array = new Array();
    var after_select_array = new Array();
    $( ".selected_products .single_product" ).each(function( index ) {
            var pid=$(this).find('.product_data').data("pid");
            after_select_array.push(pid);
    });
    $( "#before_selected_products .single_product" ).each(function( index ) {
            var pid=$(this).find('.product_data').data("pid");
            before_select_array.push(pid);
    });
    // console.log("after_select_array",after_select_array);
    // console.log("before_select_array",before_select_array);
    $.each( after_select_array, function( key, value ) {
      if(jQuery.inArray(value, before_select_array) !== -1){
             $( "#before_selected_products .single_product" ).each(function( index ) {
                    var pid=$(this).find('.product_data').data("pid");
                    if(pid==value){
                      $(this).find('.add-product').attr('disabled',true);
                    } 
              });
      }
    });
    $.each( before_select_array, function( key, value ) {
        if(jQuery.inArray(value, after_select_array) == -1){
               $( "#before_selected_products .single_product" ).each(function( index ) {
                      var pid=$(this).find('.product_data').data("pid");
                      if(pid==value){
                          $(this).find('.add-product').prop('disabled',false);
                      }
                });
        }
    });
  };

  function check_tickmark_upsell(){
    var before_select_array = new Array();
    var after_select_array = new Array();
    $( ".selected_upsell_products .single_product" ).each(function( index ) {
            var pid=$(this).find('.product_data').data("pid");
            after_select_array.push(pid);
    });
    $( "#before_selected_upsell_products .single_product" ).each(function( index ) {
            var pid=$(this).find('.product_data').data("pid");
            before_select_array.push(pid);
    });
    // console.log("after_select_array",after_select_array);
    // console.log("before_select_array",before_select_array);
    $.each( after_select_array, function( key, value ) {
      if(jQuery.inArray(value, before_select_array) !== -1){
             $( "#before_selected_upsell_products .single_product" ).each(function( index ) {
                    var pid=$(this).find('.product_data').data("pid");
                    if(pid==value){
                      $(this).find('.add-product').attr('disabled',true);
                    } 
              });
      }
    });
    $.each( before_select_array, function( key, value ) {
        if(jQuery.inArray(value, after_select_array) == -1){
               $( "#before_selected_upsell_products .single_product" ).each(function( index ) {
                      var pid=$(this).find('.product_data').data("pid");
                      if(pid==value){
                          $(this).find('.add-product').prop('disabled',false);
                      }
                      
                });
        }
    });
  };

  function check_tickmark_downsell(){
    var before_select_array = new Array();
    var after_select_array = new Array();
    $( ".selected_downsell_products .single_product" ).each(function( index ) {
            var pid=$(this).find('.product_data').data("pid");
            after_select_array.push(pid);
    });
    $( "#before_selected_downsell_products .single_product" ).each(function( index ) {
            var pid=$(this).find('.product_data').data("pid");
            before_select_array.push(pid);
    });
    // console.log("after_select_array",after_select_array);
    // console.log("before_select_array",before_select_array);
    $.each( after_select_array, function( key, value ) {
      if(jQuery.inArray(value, before_select_array) !== -1){
             $( "#before_selected_downsell_products .single_product" ).each(function( index ) {
                    var pid=$(this).find('.product_data').data("pid");
                    if(pid==value){
                      $(this).find('.add-product').attr('disabled',true);
                    } 
              });
      }
    });
    $.each( before_select_array, function( key, value ) {
        if(jQuery.inArray(value, after_select_array) == -1){
               $( "#before_selected_downsell_products .single_product" ).each(function( index ) {
                      var pid=$(this).find('.product_data').data("pid");
                      if(pid==value){
                          $(this).find('.add-product').prop('disabled',false);
                      }
                      
                });
        }
    });
  };

  table = $('#before_selected_products').DataTable({
    "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
        ],
    "bLengthChange": false,
    "ordering": false,
    responsive: true,
      "oLanguage": { 
        "sSearch": "" ,
        "sEmptyTable": "No products selected",
        "sLoadingRecords": "Please wait - loading...",
        "oPaginate": {
          "sFirst": "First",
          "sLast": "Last",
          "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
          "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
        }
    },
    "fnDrawCallback": function( oSettings ) {
    check_tickmark();
    }
  });
  $('.dataTables_filter input').attr('placeholder', 'Search..');
  


  table_upsell = $('#before_selected_upsell_products').DataTable({
    "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
        ],
    "bLengthChange": false,
    "ordering": false,
    responsive: true,
      "oLanguage": { 
        "sSearch": "" ,
        "sEmptyTable": "No products selected",
        "sLoadingRecords": "Please wait - loading...",
        "oPaginate": {
          "sFirst": "First",
          "sLast": "Last",
          "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
          "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
        }
    },
    "fnDrawCallback": function( oSettings ) {
    check_tickmark_upsell();
    }
  });
  $('.dataTables_filter input').attr('placeholder', 'Search..');
  table_downsell = $('#before_selected_downsell_products').DataTable({
    "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
        ],
    "bLengthChange": false,
    "ordering": false,
    responsive: true,
      "oLanguage": { 
        "sSearch": "" ,
        "sEmptyTable": "No products selected",
        "sLoadingRecords": "Please wait - loading...",
        "oPaginate": {
          "sFirst": "First",
          "sLast": "Last",
          "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
          "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
        }
    },
    "fnDrawCallback": function( oSettings ) {
    check_tickmark_downsell();
    }
  });
  $('.dataTables_filter input').attr('placeholder', 'Search..');

  $("body").on('click', '.select-all', function() { 
    $('.no_products_error').remove();
    swal({
           title: '<div class="loader"><img src="/images/loader.gif"></div>',
           html: true,
           showConfirmButton: false
    });

        $('.selected_products tbody tr').remove();
        setTimeout(function(){ 
          after_select_html='';
          var shop_url=$('.shop_url').html();
          table.rows({search: 'applied'}).every( function ( rowIdx, tableLoop, rowLoop ) {
            cells = this.cells(function (cellIdx, data, node) {
              return (cellIdx.row == rowIdx);
            });
            var ct=1;
            var pid='';
            var ptitle='';
            cells.every(function() {
              if(ct==1){
                pid=this.data();
              }
              if(ct==2){
                pimage = this.data();
                pimage=pimage.substring(pimage.lastIndexOf("<img src=")+9,pimage.lastIndexOf(' width="30" height="30">'));
              }
              if(ct==3){
                ptitle=this.data();
              }   
              ct=ct+1;
            });
           after_select_html=after_select_html + "<tr class='single_product "+pid+"'>"+"<td><img src="+pimage+" width='30' height='30'></td><td data-pid='"+pid+"' data-ptitle='"+ptitle+"' data-pimage="+pimage+" class='product_data'>"+ptitle+"</td><td><button type='button' class='btn btn-small btn-danger remove-product'>Remove</button></td></tr>";
          });
          $('.no_products').remove();
          $('.selected_products tbody').append(after_select_html);
          check_tickmark(); 
          var seen = {};
          $('.selected_products tbody tr td:nth-child(2)').each(function() {
              var txt = $(this).attr("data-pid");
              if (seen[txt])
                  $(this).remove();
              else
                  seen[txt] = true;
          });
          swal.close();
          $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
        }, 500);   
  });

  $("body").on('click', '.remove-all', function() { 
    setTimeout(function(){ 
              before_select_html='';
              var shop_url=$('.shop_url').html();
              table.rows({search: 'applied'}).every( function ( rowIdx, tableLoop, rowLoop ) {
                cells = this.cells(function (cellIdx, data, node) {
                  return (cellIdx.row == rowIdx);
                });
                var ct=1;
                var pid='';
                cells.every(function() {
                  if(ct==1){
                    pid=this.data();
                  }  
                  ct=ct+1;
                });
                $('.non_selected_products .'+pid).find('.add-product').prop('disabled',false);
                $('.selected_products .'+pid).remove();
              });
              swal.close();
              $('.selected_products_count').html('Showing '+$(".selected_products tr[class^='single_product']").length+' entries');
              $('.selected_products tbody').html('<tr class="no_products"><td colspan="3" class="dataTables_empty">No products selected</td></tr>');
            }, 500); 
  });

  //autocomplete
  function autocomplete(filter_id,filter_class){
    $("body").on('keypress', '#'+filter_id, function(event) {
            var filter_data = $(this).val().toLowerCase();
            var myarray = [];
            var length = filter_data.length
            var res = $('.'+filter_class).text();
            if(res.includes(",")){
                var res = res.split(",");
                count=0;
                $.each( res, function( key, value ) {
                  var var1=value.slice(0,length).toLowerCase();
                  if(filter_data==var1){
                    myarray.push(value);
                    count++;
                  }
                  if(count==12){
                    return false;
                  }
                });
            }
            else{
                var res = [res.trim()];
            }
            $(this).autocomplete({
              source: res
            });
    });
  }

  autocomplete('productTitle','product-titles');
  autocomplete('productType','product-types');
  autocomplete('customCollection','product-custom-collections');
  autocomplete('smallCollection','product-smart-collections');
  autocomplete('productTag','product-tags');

  $("body").on('click', '.filter-submit', function() {
    swal({
        title: '<div class="loader"><img src="/images/loader.gif"></div>',
        html: true,
        showConfirmButton: false
    });
    url = "/shop/filter_products";
    $.ajax({
        type: "POST",
        url: url,
        data: {
            store_id: $('.store-id').html(),
            and_or: $('#andOrCondition').val(),
            ptitle: $('#productTitle').val(),
            ptype: $('#productType').val(),
            pccollection: $('#customCollection').val(),
            pscollection: $('#smallCollection').val(),
            ptag: $('#productTag').val()
        }
    })
    .done(function(response) {
        table.destroy()
        $('#before_selected_products tbody').html(response);
        table = $('#before_selected_products').DataTable({
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "bLengthChange": false,
            "ordering": false,
            responsive: true,
              "oLanguage": { 
                "sSearch": "" ,
                "sEmptyTable": "No products selected",
                "sSearch": "",
                "sLoadingRecords": "Please wait - loading...",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
                }
            },
            "fnDrawCallback": function(oSettings) {
                check_tickmark();
                swal.close();
            }
        });
        $('.dataTables_filter input').attr('placeholder', 'Search..');
    });
  });

  $("body").on('click', '.filter-reset', function() {
    $('#productTitle').val('');
    $('#productType').val('');
    $('#customCollection').val('');
    $('#smallCollection').val('');
    $('#productTag').val('');
    // Get all products
    swal({
        title: '<div class="loader"><img src="/images/loader.gif"></div>',
        html: true,
        showConfirmButton: false
    });
    $.ajax({
        type: "POST",
        url: '/shop/get_all_products',
        data: {
            store_id: $('.store-id').html()
        }
    })
    .done(function(response) {
        table.destroy();
        $('#before_selected_products tbody').html(response).append('<input type="text" name="test">');
        
        table = $('#before_selected_products').DataTable({
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": true
            }],
            "bLengthChange": false,
            "ordering": false,
            responsive: true,
              "oLanguage": { 
                "sSearch": "" ,
                "sEmptyTable": "No products selected",
                "sLoadingRecords": "Please wait - loading...",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": "<i class='glyphicon glyphicon-chevron-right'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-chevron-left'></i>"
                }
            },
            "fnDrawCallback": function(oSettings) {
                check_tickmark();
                swal.close();
            }
        });
        $('.dataTables_filter input').attr('placeholder', 'Search..');
    });
  });
  var singleProductOptions = {
    'selectMultiple': false
  };
  $(document).on('click', '#btnUpsellProduct', function(event) {
    ShopifyApp.Modal.productPicker(singleProductOptions, function(success, data) {
      // Callback is triggered any time a button
      // is clicked or the window is closed.

      if(!success) {
        // Success is true when a resource is picked successfully
        return;
      }
      console.log('uuuuuuuuu============',data.products);

      if (data.products.length > 0) {
        var selectedProduct = data.products;
        console.log("upsell-->",selectedProduct[0])
        $("#upsellProduct #upProducTitle").html(selectedProduct[0].title);
        $("#upsellProduct #upProductImg").attr('src', selectedProduct[0].image.src).show();
        $('.up_product_id').val(selectedProduct[0].id);
      }
      if (data.errors) {
        console.error(data.errors);
      }
    })
  });
  $(document).on('click', '#btnDownsellProduct', function(event) {
    ShopifyApp.Modal.productPicker(singleProductOptions, function(success, data) {
      // Callback is triggered any time a button
      // is clicked or the window is closed.

      if(!success) {
        // Success is true when a resource is picked successfully
        return;
      }
      console.log('dddddd============',data.products);
      if (data.products.length > 0) {
        var selectedProduct = data.products;
        // console.log("downsell-->",selectedProduct[0]);
        $("#downsellProduct #downProducTitle").html(selectedProduct[0].title);
        $("#downsellProduct #downProductImg").attr('src', selectedProduct[0].image.src).show();
        $('.down_product_id').val(selectedProduct[0].id);
        console.log("-------------->",selectedProduct[0])
      }

      if (data.errors) {
        console.error(data.errors);
      }
    })
  });

   $(document).on('click', '.product-filter .panel-heading', function(event) {
    $(".product-filter .panel-body").slideToggle();
  });
  
});
  
</script>