<!-- <div class="loader"><img src="/assets/loader.svg"></div> -->
<%= form_tag "/funnels/create", :method => :post, :class => "form-horizontal funnel-form",name: 'funnel_form',id: "add_funnel_form" do %>
<div class="funnel-page material-form">
  <div class="row annotation-section">
    <div class="col-xs-12 col-sm-4">
      <h3>Name Your Funnel</h3>
    </div>
    <div class="col-xs-12 col-sm-8 funnel-card">
      <div class="card">
        <div class="card-title">Funnel Name</div>
        <input type="text" name="funnel[name]" id="funnelName" placeholder="Enter Funnel Name" required>
      </div>
    </div>
  </div>
  <div class="row annotation-section">
    <div class="col-xs-12 col-sm-4">
      <h3>Funnel Pop-Up Titles</h3>
    </div>
    <div class="col-xs-12 col-sm-8 funnel-card">
      <div class="card">
        <div class="card-title">Upsell Popup Title</div>
        <input type="text" name="funnel[up_sell_title]" id="upsellTitle" placeholder="Enter Upsell Popup Title" required>
      </div>
      <div class="card">
        <div class="card-title">Downsell Popup Title</div>
        <input type="text" name="funnel[down_sell_title]" id="downsellTitle" class="form-control" placeholder="Enter Downsell Popup Title" required>
      </div>
    </div>
  </div>
  <div class="row annotation-section">
    <div class="col-xs-12 col-sm-4">
      <h3>Personalizations</h3>
    </div>
    <div class="col-xs-12 col-sm-8 funnel-card">
      <div class="card">
        
      </div>
    </div>
  </div>
  <div class="row annotation-section">
    <div class="col-xs-12 col-sm-4">
      <h3>Create Your Sales Funnel</h3>
    </div>
    <div class="col-xs-12 col-sm-8 funnel-card">
      <div class="card">
        
      </div>
    </div>
  </div>
</div>

<% end %>








<%#= render 'common' %>