<!-- <div class="loader"><img src="/assets/loader.svg"></div> -->
<%= form_tag "/funnels/create", :method => :post, :class => "form-horizontal funnel-form",name: 'funnel_form',id: "add_funnel_form" do %>
<div class="funnel-page material-form">
  <div class="row annotation-section">
    <div class="col-xs-12 col-sm-4">
      <div class="annoted-heading">Name Your Funnel</div>
    </div>
    <div class="col-xs-12 col-sm-8 funnel-card">
      <div class="card-item">
        <div class="card-title">Funnel Name</div>
        <input type="text" name="funnel[name]" id="funnelName" placeholder="Enter Funnel Name" required>
      </div>
    </div>
  </div>
  <div class="row annotation-section">
    <div class="col-xs-12 col-sm-4">
      <div class="annoted-heading">Funnel Pop-Up Titles</div>
    </div>
    <div class="col-xs-12 col-sm-8 funnel-card">
      <div class="card-item">
        <div class="card-title">Upsell Popup Title</div>
        <input type="text" name="funnel[up_sell_title]" id="upsellTitle" placeholder="Enter Upsell Popup Title" required>
      </div>
      <div class="card-item">
        <div class="card-title">Downsell Popup Title</div>
        <input type="text" name="funnel[down_sell_title]" id="downsellTitle" class="form-control" placeholder="Enter Downsell Popup Title" required>
      </div>
    </div>
  </div>
  <div class="row annotation-section">
    <div class="col-xs-12 col-sm-4">
      <div class="annoted-heading">Personalizations</div>
    </div>
    <div class="col-xs-12 col-sm-8 funnel-card">
      <div class="card">
        <input type="checkbox" id="colors" name="funnel[]" class="switch-input funnel_status">
        <label for="colors" class="switch-label">Advanced Pop-Up Colors</label>
      </div>
      <div class="card">
        <input type="checkbox" id="redirect" name="funnel[redirect_page]" class="switch-input funnel_status">
        <label for="redirect" class="switch-label">Re-direct to Checkout(Skip Cart Page)</label>
      </div>
      <div class="card">
        <input type="checkbox" id="display_disc" name="funnel[is_display_desc]" class="switch-input funnel_status">
        <label for="display_disc" class="switch-label">Display Product Descriptions</label>
      </div>
    </div>
  </div>
  <div class="row annotation-section">
    <div class="col-xs-12 col-sm-4">
      <div class="annoted-heading">Create Your Sales Funnel</div class="annoted-heading">
    </div>
    <div class="col-xs-12 col-sm-8 funnel-card">
      <div class="card">
        <div class="row">
          <div class="col-xs-7">
            <label>Select Funnel Products</label>
          </div>
          <div class="col-xs-5 text-right">
            <button type="button" class="btn btn-funnel">Select</button>
          </div>
        </div>
      </div>
       <div class="card">
        <div class="row">
          <div class="col-xs-7">
            <label>Create Upsells</label>
          </div>
          <div class="col-xs-5 text-right">
            <button type="button" class="btn btn-funnel">Select</button>
          </div>
        </div>
      </div>
       <div class="card">
        <div class="row">
          <div class="col-xs-7">
            <label>Create Downsells</label>
          </div>
          <div class="col-xs-5 text-right">
            <button type="button" class="btn btn-funnel">Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-right">
    
  <%= submit_tag("Submit", :id=>"button", :class=>"btn btn-funnel", :name=>"submit") %>
  </div>
</div>
<% end %>








<%#= render 'common' %>