/* Product Filter */
.w-80{
  width:80%;
}
.w-60{
  width:60%;
}
.w-40{
  width:40%;
}
.w-30{
  width:30%;
}
.w-50{
  width:50%;
}
.w-45{
  width:45%;
}
.w-10{
  width:10%;
}
.w-20{
  width: 20%;
}
.select_products_section{
  margin-top: 0px;
  padding: 10px;
}
.clearfix{
  clear: both;
}
.left{
  float:left;
}
.right{
  float: right;
}

.select_products_section .selected{
  background-color: #337ab7 !important ;
  border: 1px solid #006b66 !important;
}
.selected_products .remove_product{
  background-color: #cc3636 !important;
  color: #fff;
}
.right_table{
  max-height: 637px;
  overflow-y: auto;
  overflow-x: hidden;
}
.no_products_error .error{
  color:red;
}
.loader,.submit-loader{
  width: 50px;
  position: absolute;
  left: 46%;
  top: 55%;
}
.sweet-alert h2{
  padding: 50px;
}

.filter ul li{
  float: left;
  list-style: none;   
  width: 30%;
  margin-right: 15px;
}
.filter ul li:last-child{
  margin-right: 0px;
}
.filter ul li.remove{
  width: 4%;
  margin-top: 5px;
}
.filter ul{
  margin: 20px 0px;
}
.product_filters{
  margin-top: 15px;
}

#selected_options tr td{
  /*width: 25%;*/
}
#before_selected_products{
  margin: 0px !important;
  width: 100% !important;
}
.select_products_section .col-lg-6{
  padding-left: 0px;
}
.right_table .selected_products tr th{
  /*padding: 20px 18px 23px 10px !important;*/
}
#products .dataTables_wrapper .dataTables_paginate .paginate_button.current,#products .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,#products .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  border: 1px solid #337ab7 !important;
  background: #337ab7 !important;
  color: #fff !important;
}
.right_table .selected_products tr td{
  padding: 8px;
}
.dataTables_wrapper .dataTables_filter input{
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}
#before_selected_products tbody .single_product td,.selected_products tbody .single_product td{
  font-size: 15px;
  padding: 10px !important;
}
/*#before_selected_products_filter{
  margin-top: -17px;
  padding-bottom: 15px;
}*/
.table_top_portion_right h3{
  padding:0px 0px 11px 15px;
  margin-bottom: 19px;
}
#before_selected_products tr th{
  /*padding: 20px 10px;*/
  border: none;
}
.dataTables_paginate.paging_simple_numbers{
  width: 500px;
}

.selected_products tr th:nth-child(1),.non_selected_products tr th:nth-child(1){
  width: 10% !important;
}
.selected_products tr th:nth-child(2),.non_selected_products tr th:nth-child(2){
  width: 40% !important;
}
.selected_products tr th:nth-child(3),.non_selected_products tr th:nth-child(3){
  width: 20% !important;
}
.errorr{
    /*box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, red 0px 0px 8px;*/
    border-color: #ff0000;
    /*outline: 0px;*/
}
.menu ul li:hover, .menu ul li.active{
  background-color: #097571;
}
.menu .sub_menu li {
    color: #fff;
    margin-right: 0px;
    padding: 5px;
    width: 100%;
}

.top_menu {
    padding: 18px 0;
}
.menu ul li:hover ul.sub_menu{
  opacity: 1 !important;
    visibility: visible !important;
    margin: 0px !important;
}
.sub_menu {
    position: absolute;
    background: #ccc;
    z-index: 999;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #337ab7;
    width: 150px;
    right: 0;
    margin: 24px 0 0 0 !important;
}
.menu .sub_menu li a {
    color: #337ab7;
    font-size: 13px;
    padding: 0px;
    -webkit-transition: 0s ease-in-out;
    -moz-transition: 0s ease-in-out;
    -ms-transition: 0s ease-in-out;
    -o-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
}
.menu .sub_menu li a:hover {
    color: #fff;
}
.product_sync{
  font-size: 20px;
  color: #000;
}
.add_new_btn{
  text-align: right;
}
.product_sync img{
  width: 35px;
  vertical-align: middle;
}
.dataTables_paginate.paging_simple_numbers, #before_selected_products_info{
  margin-top: 10px;
}
.no_products .dataTables_empty{
  text-align: center !important;
  background-color: #f7f7f7 !important;
}
.selected_products_count{
  color: #333;
  margin-top: 20px;
}
.selected_products{
  border-bottom: 1px solid #dbe1e8;
  margin-bottom: 0px;
  margin-top: 44px !important;
}
/* filter css end */
.sweet-alert h2{
  padding: 50px;
}
.loader img{
  width: 35px;
}
.small-width{
  width: 40% !important;
}
.hide{
  display: none;
} 
.table tbody tr td{
  vertical-align: middle;
  /*border-bottom: 1px solid #ddd !important;*/
}

.table thead tr th{
  border-bottom: none !important;
}
.add-product{
  padding: 5px 25px;
}
.remove-product{
  padding: 5px 20px;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #ddd !important; 
}
.panel-heading h4{
  float: left;
}
.add_new{
  float:right;
}
.center{
  text-align: center;
}
.glyphicon{
  font-size: 20px;
}
.dataTables_wrapper .dataTables_filter input{
  border-radius: 0px !important;
}
.product-filter{
  position: relative;
}

table tbody td:nth-child(3){
  text-align: center;
}
.funnels-list td:nth-child(3){
  text-align: left;
}

/*Toggle CSS*/

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  right: 20px;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #A5D6A7;
}
.switch-input:checked + .switch-label:after {
  background-color: #4CAF50;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
