/* Product Filter */
.w-100{
  width:100%;
}
.w-93{
  width:93% !important;
}
.w-80{
  width:80%;
}
.w-60{
  width:60%;
}
.w-40{
  width:40%;
}
.w-30{
  width:30%;
}
.w-50{
  width:50%;
}
.w-45{
  width:45%;
}
.w-10{
  width:10%;
}
.w-20{
  width: 20%;
}
.m-l-15{
  margin-left: 15px;
}
.m-0{
  margin: 0 !important
}
.input-error{
  border-bottom-color: red !important;
  color: red !important;
}
input[type=text]:focus.input-error{
  border-bottom: none;
}
.select_products_section{
  margin-top: 0px;
  padding: 10px;
}
.clearfix{
  clear: both;
}
.left{
  float:left;
}
.right{
  float: right;
}

.select_products_section .selected{
  background-color: #337ab7 !important ;
  border: 1px solid #006b66 !important;
}
.selected_products .remove_product,.selected_upsell_products .remove_product,.selected_downsell_products .remove_product{
  background-color: #cc3636 !important;
  color: #fff;
}
.right_table{
  max-height: 637px;
  overflow-y: auto;
  overflow-x: hidden;
}
.no_products_error .error{
  color:red;
}
.loader,.submit-loader{
  width: 50px;
  position: absolute;
  left: 49%;
  top: 90%;
}
.sweet-alert h2{
  padding: 50px;
}

.filter ul li{
  float: left;
  list-style: none;   
  width: 30%;
  margin-right: 15px;
}
.filter ul li:last-child{
  margin-right: 0px;
}
.filter ul li.remove{
  width: 4%;
  margin-top: 5px;
}
.filter ul{
  margin: 20px 0px;
}
.product_filters{
  margin-top: 15px;
}

#selected_options tr td{
  /*width: 25%;*/
}
#before_selected_products,#before_selected_upsell_products,#before_selected_downsell_products{
  margin: 0px !important;
  width: 100% !important;
}
.select_products_section .col-lg-6{
  padding-left: 0px;
}
.right_table .selected_products tr th{
  /*padding: 20px 18px 23px 10px !important;*/
}
#products .dataTables_wrapper .dataTables_paginate .paginate_button.current,#products .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,#products .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  border: 1px solid #337ab7 !important;
  background: #337ab7 !important;
  color: #fff !important;
}
.right_table .selected_products tr td{
  padding: 8px;
}
.dataTables_wrapper .dataTables_filter input{
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}
#before_selected_products tbody .single_product td,.selected_products tbody .single_product td,#before_selected_upsell_products tbody .single_product td,.selected_upsell_products tbody .single_product td,#before_selected_downsell_products tbody .single_product td,.selected_downsell_products tbody .single_product td{
  font-size: 15px;
  padding: 10px !important;
}
/*#before_selected_products_filter{
  margin-top: -17px;
  padding-bottom: 15px;
}*/
.table_top_portion_right h3{
  padding:0px 0px 11px 15px;
  margin-bottom: 19px;
}
#before_selected_products tr th,#before_selected_upsell_products tr th,#before_selected_downsell_products tr th{
  /*padding: 20px 10px;*/
  border: none;
}
.dataTables_paginate.paging_simple_numbers{
  width: 500px;
}

.selected_products tr th:nth-child(1),#before_selected_products tr th:nth-child(1),.selected_upsell_products tr th:nth-child(1),#before_selected_upsell_products tr th:nth-child(1),.selected_downsell_products tr th:nth-child(1),#before_selected_downsell_products tr th:nth-child(1){
  width: 10% !important;
}

.selected_products tr th:nth-child(2),#before_selected_products tr th:nth-child(2),.selected_upsell_products tr th:nth-child(2),#before_selected_upsell_products tr th:nth-child(2),.selected_downsell_products tr th:nth-child(2),#before_selected_downsell_products tr th:nth-child(2){
  width: 40% !important;
}

.selected_products tr th:nth-child(3),#before_selected_products tr th:nth-child(3),.selected_upsell_products tr th:nth-child(3),#before_selected_upsell_products tr th:nth-child(3),.selected_downsell_products tr th:nth-child(3),#before_selected_downsell_products tr th:nth-child(3){
  width: 20% !important;
}
.errorr{
    /*box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, red 0px 0px 8px;*/
    border-color: #ff0000;
    /*outline: 0px;*/
}
.menu ul li:hover, .menu ul li.active{
  background-color: #097571;
}
.menu .sub_menu li {
    color: #fff;
    margin-right: 0px;
    padding: 5px;
    width: 100%;
}

.top_menu {
    padding: 18px 0;
}
.menu ul li:hover ul.sub_menu{
  opacity: 1 !important;
    visibility: visible !important;
    margin: 0px !important;
}
.sub_menu {
    position: absolute;
    background: #ccc;
    z-index: 999;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #337ab7;
    width: 150px;
    right: 0;
    margin: 24px 0 0 0 !important;
}
.menu .sub_menu li a {
    color: #337ab7;
    font-size: 13px;
    padding: 0px;
    -webkit-transition: 0s ease-in-out;
    -moz-transition: 0s ease-in-out;
    -ms-transition: 0s ease-in-out;
    -o-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
}
.menu .sub_menu li a:hover {
    color: #fff;
}
.product_sync{
  font-size: 20px;
  color: #000;
}
.add_new_btn{
  text-align: right;
}
.product_sync img{
  width: 35px;
  vertical-align: middle;
}
.dataTables_paginate.paging_simple_numbers, #before_selected_products_info{
  padding: 5px;
  width: 100%;
  text-align: left;
}
.no_products .dataTables_empty{
  text-align: center !important;
  background-color: #f7f7f7 !important;
}
.selected_products_count,.selected_upsell_products_count,.selected_downsell_products_count{
  color: #333;
  margin-top: 20px;
}
.selected_products,.selected_upsell_products,.selected_downsell_products{
  border-bottom: 1px solid #dbe1e8;
  margin-bottom: 0px;
  /*margin-top: 40px !important;*/
}
/* filter css end */
.sweet-alert h2{
  padding: 50px;
}
.loader img{
  width: 35px;
}
.small-width{
  width: 40% !important;
}
.hide{
  display: none;
} 
.table tbody tr td{
  vertical-align: middle;
  /*border-bottom: 1px solid #ddd !important;*/
}

.table thead tr th{
  border-bottom: none !important;
}
.add-product{
  padding: 5px 25px;
}
.remove-product{
  padding: 5px 20px;
}
table.dataTable.no-footer {
     border-bottom: 1px solid #ddd !important; 
}
.panel-heading h4{
  float: left;
}
.add_new{
  float:right;
}
.center{
  text-align: center;
}
.glyphicon{
  font-size: 20px;
}
.dataTables_wrapper .dataTables_filter input{
  width: 250px;
  margin-top: 5px;
  border-radius: 5px; 
  border: 1px solid #66616187;
}
.product-filter{
  position: relative;
  margin: 11px;
}

table tbody td:nth-child(3){
  text-align: center;
}
.funnels-list td:nth-child(3){
  text-align: left;
}

/*Toggle CSS*/

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  /*right: 20px;*/
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #A5D6A7;
}
.switch-input:checked + .switch-label:after {
  background-color: #4CAF50;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
.cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.3);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
}
/*-----------------------*/
.add_form h4:first{
  padding: 10px 15px;
}

/*--------loader on dashboard---------*/
.sync_product{
  width: 320px;
  margin: 0 auto;
}
.sync_product img{
  height: 30px;
}
/*-----------------------------------*/
.panel-heading{
  font-weight: bold;
  font-size: 17px;
}
.funnel-form .form-group label{
  font-weight: normal;
}
.single-product{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.single-product button{
  /*position: relative;*/
  /*right: -310%;*/
}
.dropdown-toggle span{
  padding-left: 6px;
}
.app-wrapper .navbar{
  box-shadow: none;
}
.app-wrapper .navbar .glyphicon{
  font-size: 16px;
}
#mydiv {
  height: 400px;
  position: relative;
  background-color: gray; /* for demonstration */
}
.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
}


#loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
}
#loading img{
  width: 100px;
  height: 100px;
}

#before_selected_products, #before_selected_upsell_products, #before_selected_downsell_products,.selected_products,.selected_upsell_products,.selected_downsell_products{
  /*border: 1px solid #ddd;*/
  border: none !important;
}

table.dataTable.no-footer {
    border: 1px solid #ddd !important;
    border-radius: 5px;
}
.funnel-body{
  padding: 0;
  background: #f5f5f5;
  margin: 0 40px;
}
.funnels-list tbody tr td {
  padding: 10px 18px;
}
.funnels-list thead tr {
  background: #fff !important;
}
.panel-heading{
  border: none !important;
}
.nav > li > a:hover, .nav > li > a:focus{
  background: #f8f8f8;
}
.active{
  border-bottom: 2px solid #48bfed;
  color: #48bfed !important;
  font-weight: 900;
}
.navbar{
  border-bottom: 0 none;
}
.dropdown a{
  color: #000;
}
.paginate_button.previous,.paginate_button.next{
  padding: 7px !important;
}

.select-all,.remove-all{
  position: absolute;
  right: 25px;
  top: 11px; 
}
.funnel-heading{
  padding: 15px !important;
  background: #676161 !important;

}
#before_selected_products thead,#before_selected_upsell_products thead,#before_selected_downsell_products thead,.selected_upsell_products thead,.selected_downsell_products thead,.selected_products thead{
  display: none;
}
.panel-default > .panel-heading{
  color: #fff;
  background-color: #4080a5;
}
.select_products_section .panel-body{
  padding: 0px;
}
.dataTables_wrapper .dataTables_filter input{
  margin: 9px 5px 5px 5px;
  width: 97%;
}
.dataTables_wrapper .dataTables_info{
  border-top: 1px solid #dedede;
  padding: 5px;
  width: 100%;
  margin: 0
}
.dataTables_filter,.dataTables_filter label{
  width: 100%;
}

.funnels-list{
  width: 100%;
}
.funnels-list .table{
  /*width: 90%;*/
  /*margin: 5px 50px;*/
  border-collapse: unset;
  border: 1px solid #fff;
  /*border-radius: 8px;*/
  background: #fff;
  border-spacing: 1px;

}
.clear{
  clear: both;
}
.add_new{
  background: #48bfed;
}
.funnel-header{
  margin-bottom: 10px;
  /*margin: 10px 50px;*/
}
.funnel-header h4{
  margin-top: 15px;
}
.funnels{
  margin: 20px 50px;
}




/*======custom with uptown css======*/
body{
  background-color: #f4f6f8;
}
.navbar-default{
  background-color: #fff;
}
.material-form input[type=text],.material-form input[type=email],.material-form textarea{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #BDBDC0;
  border-radius: 0;
  outline: none;
  height: 2.1rem;
  width: 100%;
  padding: 6px 0;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input[type=text].colorpicker{
  padding-left: 44px;
}
.funnel-page{
  padding: 3.2rem;
  margin: 0 auto;
  max-width: 103.6rem;
}
.annotation-section{
  margin-bottom: 2rem;
}
.funnel-card{
  border-radius: 3px;
  /*overflow: hidden;*/
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  padding: 2rem;
  line-height: 3rem;
}
.card-item{
  margin-bottom: 10px;
}
.card-title{
  font-weight: 800;
}
.switch-label{
  padding-left: 40px;
}
.material-form .btn-funnel{
  border-radius: unset;
  background-color: #50248F;
  color: #fff;
  padding: 6px 20px;
}

.material-form .btn-funnel:hover{
  background-color: #380f73;
}
.annoted-heading {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 0;
}

@media (min-width: 40em){
  .annoted-heading {
    font-size: 1.6rem;
  }
}

@media (min-width: 30.625em){
  .Polaris-Page {
    padding: 0 2rem;
  }
}


/* 18-12-2017 */
.modal-dialog{
  width: 80% !important;
}
.dataTables_paginate{
  text-align: left !important;
}
#downSellTimeOut{
  padding: 0 5px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #bebec1;
}

