<div class="funnel-page material-form funnel-stastics">
 
  <div class="row annotation-section">
    <div class="col-xs-6 stats-wrap">
      <div class="col-xs-12 funnel-card p-0">
        <div class="funnel-card-section statistics-title">
          <div class="annoted-heading">Today's - Upsell Stats</div>
        </div>
        <div class="funnel-card-section">
          <table class="table">
            <thead>
                <tr>
                    <th><h4>121</h4></th>
                    <th><h4>Bundle Views</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h4>$1001</h4></td>
                    <td><h4>Added to Cart<h4></td>
                </tr>
                <tr>
                    <td><h4>$729</h4></td>
                    <td><h4>Amount Purchased</h4></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

     <div class="col-xs-6 stats-wrap-next">
      <div class="col-xs-12 funnel-card p-0">
        <div class="funnel-card-section statistics-title">
          <div class="annoted-heading">Today's - Downsell Stats</div>
        </div>
        <div class="funnel-card-section">
          <table class="table">
            <thead>
                <tr>
                    <th><h4>121</h4></th>
                    <th><h4>Bundle Views</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h4>$1001</h4></td>
                    <td><h4>Added to Cart<h4></td>
                </tr>
                <tr>
                    <td><h4>$729</h4></td>
                    <td><h4>Amount Purchased</h4></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row annotation-section">
    <div class="col-xs-6 stats-wrap">
      <div class="col-xs-12 funnel-card p-0">
        <div class="funnel-card-section statistics-title">
          <div class="annoted-heading">Last 30 Days - Upsell Stats</div>
        </div>
        <div class="funnel-card-section">
          <table class="table">
            <thead>
                <tr>
                    <th><h4>121</h4></th>
                    <th><h4>Bundle Views</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h4>$1001</h4></td>
                    <td><h4>Added to Cart<h4></td>
                </tr>
                <tr>
                    <td><h4>$729</h4></td>
                    <td><h4>Amount Purchased</h4></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

     <div class="col-xs-6 stats-wrap-next">
      <div class="col-xs-12 funnel-card p-0">
        <div class="funnel-card-section statistics-title">
          <div class="annoted-heading">Last 30 Days - Downsell Stats</div>
        </div>
        <div class="funnel-card-section">
          <table class="table">
            <thead>
                <tr>
                    <th><h4>121</h4></th>
                    <th><h4>Bundle Views</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h4>$1001</h4></td>
                    <td><h4>Added to Cart<h4></td>
                </tr>
                <tr>
                    <td><h4>$729</h4></td>
                    <td><h4>Amount Purchased</h4></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row annotation-section">
    <div class="col-xs-6 stats-wrap">
      <div class="col-xs-12 funnel-card p-0">
        <div class="funnel-card-section">
          <div class="annoted-heading">Today's - Upsell Stats</div>
        </div>
        <div class="funnel-card-section statistics-data">
          <div class="col-xs-4 text-center">
            <h3>121</h3>
            Bundle Views
          </div>          
          <div class="col-xs-4 text-center">
            <h3>$1001</h3>
            Added to Cart
          </div>          
          <div class="col-xs-4 text-center">
            <h3>$729</h3>
            Amount Purchased
          </div>         
        </div>
      </div>
    </div>
    <div class="col-xs-6 stats-wrap-next">
      <div class="col-xs-12 funnel-card p-0">
        <div class="funnel-card-section">
          <div class="annoted-heading">Today's - Downsell Stats</div>
        </div>
        <div class="funnel-card-section">
          <div class="col-xs-4 text-center">
            <h3>103</h3>
            Bundle Views
          </div>          
          <div class="col-xs-4 text-center">
            <h3>$1278</h3>
            Added to Cart
          </div>          
          <div class="col-xs-4 text-center">
            <h3>$478</h3>
            Amount Purchased
          </div>         
        </div>
      </div>
    </div>
  </div>
  
  <div class="row annotation-section">
    <div class="col-xs-6 stats-wrap">
      <div class="col-xs-12 funnel-card p-0">
        <div class="funnel-card-section">
          <div class="annoted-heading">Last 30 Days - Upsell Stats</div>
        </div>
        <div class="funnel-card-section">
          <div class="col-xs-4 text-center">
            <h3>121</h3>
            Bundle Views
          </div>          
          <div class="col-xs-4 text-center">
            <h3>$1001</h3>
            Added to Cart
          </div>          
          <div class="col-xs-4 text-center">
            <h3>$729</h3>
            Amount Purchased
          </div>         
        </div>
      </div>
    </div>
    <div class="col-xs-6 stats-wrap-next">
      <div class="col-xs-12 funnel-card p-0">
        <div class="funnel-card-section">
          <div class="annoted-heading">Last 30 Days - Downsell Stats</div>
        </div>
        <div class="funnel-card-section">
          <div class="col-xs-4 text-center">
            <h3>103</h3>
            Bundle Views
          </div>          
          <div class="col-xs-4 text-center">
            <h3>$1278</h3>
            Added to Cart
          </div>          
          <div class="col-xs-4 text-center">
            <h3>$478</h3>
            Amount Purchased
          </div>         
        </div>
      </div>
    </div>
  </div> -->
</div>