<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Upsell Chart
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <%= content_tag :div, "", id: "upsell-compare-chart", data: {upsell: @upsell_compare_data} %>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Downsell Chart 
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <%= content_tag :div, "", id: "downsell-compare-chart", data: {downsell: @downsell_compare_data} %>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<script type="text/javascript">
  
  Morris.Bar({
        element: 'upsell-compare-chart',
        data: $('#upsell-compare-chart').data('upsell'),
        xkey: 'date',
        ykeys: ['viewed', 'added'],
        labels: ['No of Viewed', 'No of Added'],
        hideHover: 'auto',
        resize: true
    });
   Morris.Bar({
        element: 'downsell-compare-chart',
        data: $('#downsell-compare-chart').data('downsell'),
        xkey: 'date',
         ykeys: ['viewed', 'added'],
        labels: ['No of Viewed', 'No of Added'],
        hideHover: 'auto',
        resize: true
    });
</script>